# JWT Configuration
JWT_SECRET=eman_MyVeryStrongJwtSecret_123456779!@
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24

# Better Auth Configuration
BETTER_AUTH_SECRET=BetterAuthSecret_987654123!@#

# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_Noqh3eA1Ydls@ep-shy-meadow-ah04jj2n-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Server Configuration
SERVER_HOST=localhost   #0.0.0.0
SERVER_PORT=8000

# Logging Configuration
LOG_LEVEL=INFO